j-icon {
	position: relative;
	display: inline-block;
	width: auto;
	height: auto;
	margin: 0;
	padding: 0;
	line-height: 0px;
}

j-icon svg {
	display: block;
	color: inherit;
	overflow: visible;
}

j-icon svg g, j-icon svg path {
	color: inherit !important;
	fill: currentColor !important;
}