* {
	/* Reset rules */
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	/* Basic styling */
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-weight: 400;

	background-color: var(--page-background-colour);
	width: 100%;
	color: var(--page-text-colour);
}

:root {
	font-size: 0.9em;
}

/*
 * Site Navigation
 */


#site-nav {
	/* The navigation bar at the top of the window. */
	/* Changes to a split topbar / tab bar on mobile. */

	/* Layout */
	position: fixed;
	top: 10px;
	left: calc(50% - 600px);
	display: flex;
	align-items: stretch;
	justify-content: left;

	width: calc(100% - 20px);
	max-width: 1200px;
	height: 48px;
	z-index: 9999;
	
	/* Appearance */
	background-color: var(--nav-background-colour);
	border-radius: 5px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2), 0 -15px 0 var(--page-background-colour);

}

#site-nav * {
	flex-shrink: 0;
}


/*
 * Site Navigation > Tabs
 */


#site-nav > .nav-tabs {
	/* The tabs to the left of the navigation bar */
	/* Transforms into a tab bar on mobile. */

	/* Layout */
	display: flex;
	align-items: stretch;
	justify-content: left;

	margin-right: auto;

	/* Appearance */
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	overflow: hidden;
}

#site-nav > .nav-tabs > .nav-tab {
	/* An individual tab in the navigation tabs. */

	/* Layout */
	display: flex;
	align-items: center;
	justify-content: left;
	
	padding: 0 15px;

	/* Appearance */
	color: inherit;
	text-decoration: none;
	overflow: hidden;

	border-bottom: 0px solid var(--accent-colour);
	padding-top: 0px;
	transition: background-color 0.1s ease;
}

#site-nav > .nav-tabs > .nav-tab:hover {
	/* Appearance */
	background-color: var(--nav-bg-hover-colour);
}

#site-nav > .nav-tabs > .nav-tab.tab-active {
	/* Appearance */
	color: var(--accent-colour);
}

#site-nav > .nav-tabs > .nav-tab > .tab-icon {
	/* The icon inside the navigation tabs. */

	/* Layout */
	display: inline-block;
}

#site-nav > .nav-tabs > .nav-tab > .tab-label {
	/* The label inside the navigation tabs. */

	/* Layout */
	display: block;
	margin-left: 8px;

	/* Appearance */
	font-weight: 400;
	font-size: 1rem;
}


/*
 * Site Navigation > Quick Access
 */


#site-nav > .quick-access {
	/* The quick access to the right of the navigation bar */
	/* Transforms into a top bar on mobile. */

	/* Layout */
	display: flex;
	margin-left: 50px;
	align-items: center;
	justify-content: right;
	flex-shrink: 0;
	flex-grow: 1;

}

#site-nav > .quick-access > .search-box {
	/* The search box to the right of the navigation bar */

	/* Layout */
	display: block;
	flex-basis: 225px;
	flex-grow: 1;

	max-width: 300px;
	height: 32px;

	margin-right: 8px;
	padding: 0 12px;

	/* Appearance */
	color: inherit;
	background-color: var(--nav-search-bg-colour);

	border: 0;
	border-radius: 16px;

	font: inherit;
	font-size: 1rem;

}

#site-nav > .quick-access > .search-box::placeholder {
	/* The search box placeholder text */
	color: var(--nav-search-placeholder-colour);
	opacity: 1;
}

#site-nav > .quick-access > .profile {
	/* The profile link to the right of the navigation bar */

	/* Layout */
	display: block;
	width: 32px;
	height: 32px;

	margin-right: 8px;

}

#site-nav > .quick-access > .profile > .avatar {
	/* The avatar in the profile link. */

	/* Layout */
	display: block;
	width: 100%;
	height: 100%;

	/* Appearance */
	object-fit: cover;
	border-radius: 10%;
	transition: opacity 0.1s ease;
}

#site-nav > .quick-access > .profile:hover > .avatar {
	/* The avatar in the profile link. */

	/* Appearance */
	opacity: 0.8;

}


/*
 * Main Content
 */


#site-main {
	/* The main container for the site sections. */

	/* Layout */
	display: flex;
	align-items: top;
	justify-content: left;
	flex-wrap: nowrap;

	width: calc(100% - 20px);
	max-width: 1200px;
	margin: 0px auto;
	margin-top: 68px;
	margin-bottom: 1000px;

}

#site-main > section {
	/* A section of the main content. */

	/* Layout */
	display: block;
	flex-shrink: 0;
	flex-basis: 300px;
	flex-grow: 0;
	
	position: sticky;
	top: 68px;
	height: 500px;

	/* Appearance */
	background-color: var(--section-background-colour);
	border-radius: 5px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);

}


/*
 * Main Content > Feed Section
 */


#site-main > .feed-section {
	/* The feed section of the main content. */

	/* Layout */
	flex-basis: 580px;
	height: 5000px;
	margin: 0 10px;

}

#site-main > .feed-section > .new-toot {
	/* The new toot box at the top of the feed. */

	/* Layout */
	display: block;
	width: 100%;
	height: auto;
	padding: 12px;

	/* Appearance */
	background-color: var(--section-new-toot-bg-colour);
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;

}

#site-main > .feed-section > .new-toot > .toot-area {
	/* The text area in the new toot box. */

	/* Layout */
	display: block;
	width: 100%;
	height: auto;
	min-height: 36px;
	padding: 8px;

	/* Appearance */
	background-color: var(--section-toot-area-bg-colour);
	font: inherit;
	color: inherit;
	border: none;
	resize: none;
	border-radius: 2px;

}

#site-main > .feed-section > .new-toot > .toot-area::placeholder {
	/* The new toot box placeholder text */
	color: var(--section-toot-area-placeholder-colour);
	opacity: 1;
}

#site-main > .feed-section > .new-toot > .toot-controls {
	/* The toot controls under the new toot box. */

	/* Layout */
	display: flex;
	width: 100%;
	height: 36px;
	align-items: center;
	justify-content: left;
	margin-top: 4px;
}

#site-main > .feed-section > .new-toot > .toot-controls > .toot-control {
	/* A toot control under the new toot box. */

	/* Layout */
	display: flex;
	width: 28px;
	height: 28px;
	align-items: center;
	justify-content: center;
	margin-right: 4px;

	/* Appearance */
	border-radius: 50%;
	color: inherit;
	transition: background-color 0.1s ease;
}

#site-main > .feed-section > .new-toot > .toot-controls > .toot-control:hover {
	/* A toot control under the new toot box. */

	/* Appearance */
	background-color: var(--section-toot-ctrl-bg-colour);
}

#site-main > .feed-section > .new-toot > .toot-controls > .toot-control.submit-button {
	/* The toot button under the new toot box. */

	/* Layout */
	display: flex;
	width: auto;
	margin-left: auto;
	margin-right: 0;
	padding: 0px 12px;

	/* Appearance */
	border-radius: 14px;
	text-decoration: none;
}

#site-main > .feed-section > .new-toot > .toot-controls > .toot-control.submit-button > j-icon{
	/* The toot button under the new toot box. */

	/* Layout */
	margin-right: 8px;
}


/*
 *
 *
 * ===================================
 *             MEDIA RULES            
 * ===================================
 *
 *
 */

/*
 * Breakpoint 1: 1220px
 * Two-column view.
 */
@media screen and (max-width: 1220px) {
	#site-nav {
		/* The navigation bar at the top of the window. */
		/* Changes to a split topbar / tab bar on mobile. */
	
		/* Layout */
		left: 10px;
	
	}

	#site-main > .about-section {
		/* The about section of the main content. */
	
		/* Layout */
		display: none;
	
	}

	#site-main > .me-section {
		/* The 'me' section of the main content. */
	
		/* Layout */
		margin-left: auto;
	
	}

	#site-main > .feed-section {
		/* The feed section of the main content. */

		/* Layout */
		margin-right: auto;
	}
}

/*
 * Breakpoint 2: 910px
 * Single-column view, no navigation labels.
 */
 @media screen and (max-width: 910px) {
	#site-main > .me-section {
		/* The 'me' section of the main content. */
	
		/* Layout */
		display: none;
	
	}

	#site-main > .feed-section {
		/* The feed section of the main content. */

		/* Layout */
		margin-left: auto;
		margin-right: auto;

		flex-basis: auto;
		width: 100%;
		max-width: 580px;
	}

	#site-nav > .nav-tabs > .nav-tab > .tab-label {
		display: none;
	}
}

/*
 * Breakpoint 4: 750px
 * Mobile breakpoint.
 */
 @media screen and (max-width: 750px) {
	#site-nav {
		/* Layout */
		position: fixed;
		display: block;
		top: 0;
		left: 0;
		width: 100vw;
		max-width: none;
		height: 48px;
		
		/* Appearance */
		background-color: var(--nav-background-colour);
		border-radius: 0;
		box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
	}

	#site-nav > .nav-tabs {
		/* Layout */
		position: fixed;
		bottom: 0;
		left: 0;
		width: 100vw;
		height: 48px;
		justify-content: stretch;
		
		/* Appearance */
		background-color: var(--nav-background-colour);
		border-radius: 0;
		box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
	}

	#site-nav > .nav-tabs > .nav-tab {
		/* An individual tab in the navigation tabs. */
	
		/* Layout */
		width: auto;
		flex-grow: 1;
		flex-shrink: 1;
		align-items: center;
		justify-content: center;

	}

	#site-nav > .quick-access {
		/* The quick access to the right of the navigation bar */
		/* Transforms into a top bar on mobile. */
	
		/* Layout */
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		margin: 0;
	
	}

	#site-nav > .quick-access > .search-box {
		/* The search box to the right of the navigation bar */
	
		/* Layout */
		max-width: none;
		margin-left: 8px;
	
	}

	#site-main {
		/* Layout */
		margin-top: 48px;
		margin-left: 0;
		margin-right: 0;
		max-width: none;
		width: 100%;
	}

	#site-main > section {
		border-radius: 0;
		box-shadow: none;
	}

	#site-main > .feed-section {
		max-width: none;
		width: 100%;
	}

}